fastapi==0.111.0
uvicorn==0.30.1

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9

slowapi==0.1.8

pydantic==2.7.1
wrapt==1.16.0  # usado internamente por algumas libs, útil manter

python-magic-bin==0.4.14
